Dockerfile
.dockerignore
node_modules
npm-debug.log
README.md
.next
.git
.gitignore
.env
.env.local
.env.*.local
*.md
coverage
.vscode
.idea
*.log
test-results
playwright-report
logs
*.db
*.db-journal
.DS_Store
