@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --jumia-orange: #F68B1E;
  --jumia-dark: #313133;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
